body{
	margin: 0 ;
}
.main-footer{
	background-color: #535353;
	position: fixed;
	bottom: 0 !important;
	width: 100%;
	height: 60px;
}
.bottom-chat-option{
	float: right;
	padding: 15px;
	display:flex;
}
.optbtn{
	color: lightgray;
	background-size: 100% 200% !important;
    background-image: linear-gradient(to bottom, black 50%, #CC0001  50%) !important;
    transition: background-position 1s !important;
	border: 0 !important;
	padding: 8px !important;
	font-weight: 700 !important;

}
.optbtn:hover{
	 background-position: 0 -100%;
	 color: white !important;
}

.chatbtn-holder{
	margin-left: 10px;
	padding:0 10px 0 10px ;
	border-left:1px solid gray;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
   
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
}
.modal-hire {
    background-color: black;
    margin: auto;
    width: 18%;
    position: fixed !important;
    right:15px !important;
    bottom: 60px;
}
.modal-hire:before{
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: fixed;
  border-top: 12px solid #272727;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  right: 120px;
  bottom: 39px;
}
.modal-request {
    background-color: black;
    margin: auto;
    width: 18%;
    position: fixed !important;
    right:15px !important;
    bottom: 60px;
}
.modal-request:before{
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: fixed;
  border-top: 12px solid #272727;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  right: 85px;
  bottom: 39px;
}
.chatbox-modal {
    background-color: black;
    margin: auto;
    width: 18%;
    position: fixed !important;
    right:15px !important;
     bottom: 65px;
}
.chatbox-request-modal {
    background-color: black;
    margin: auto;
    width: 18%;
    position: fixed !important;
    right:15px !important;
     bottom: 65px;
}

.close2 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
	padding: 0 10px 0 0;
}
.close2:hover,
.close2:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
.close3 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
	padding: 0 10px 0 0;
}
.close3:hover,
.close3:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
.close4{
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
	padding: 0 10px 0 0;
}
.close4:hover,
.close4:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
.close1 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
	padding: 0 10px 0 0;
}

.close1:hover,
.close1:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
.txt-header{
	color: white;
	font-family:  'Arial';
    text-transform: uppercase;
}
.modal-header{
	padding: 2px 0 2px 10px !important;
	background-color: #4b090b;s
}
.modal-body{
	background-color: #272727;
	margin: 0 !important;
	padding: 30px;
}
.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    float: center;
    height: 30px;
}
.icon {
    padding: 6px;
    background: #922326;
    border: 1px solid #1f1f1f;
  	border-right : 2px solid  #8F0017;
    color: white;		
    min-width: 40px;
    text-align: center;
}
.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #922326;
    height: 30px;
}
.input-field:focus {
    border: 1px solid #922326;
}
.btnsignup{
	border: 1px solid lightgray;
	background-color: #1f1f1f;
	padding: 10px;
	border-radius: 5px;
	color: white;
	font-family: Arial;
	font-weight: bold;
}
.btnsignup:hover{
	background-color:#922326; 
	color: white !important;
}
.checkpass{
	padding: 10px 5px 10px 5px;
}
.Request-msg{
	width: 100%;
	height: 100px;
	font-family: 'Arial';
}
.txt{
	color: white;
	font-size: 13pt;
	font-family: 'Arial';
}
.messagebox{
	display: flex;
}
.msgbox{
	border-radius: 5px 0 0 5px ;
	outline: none;
	padding: 5px;
	border:0 !important;
	width: 100% !important;

}
.icon-msg{
	background-color: lightgray;
	width: 50px;
	padding: 10px;
	border-radius: 0 5px 5px 0;
	border: 0 0 0 1px solid lightgray;
}
.message-client{
	background-color: #922326;
	margin-left: 20px;
	height: 22px;
	margin-bottom: 10px;
	z-index: 1000px;
	color: white;
	font-size: 12px;
	display: inline-block;
	position: relative;
	 height: auto;
	 padding: 5px 10px 3px 10px ;
}
.message-client:before{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -15px;
  right: auto;
  top: 0px;
  bottom: auto;
  border: 15px solid;
  border-color: #922326 transparent transparent transparent;
}
.message-admin{
	background-color: #1f1f1f;
	margin-left: 20px;
	height: 22px;
	margin-bottom: 10px;
	z-index: 100px;
	color: white;
	font-size: 12px;
	display: inline-block;
	position: relative;
	 height: auto;
	 padding: 5px 10px 3px 10px ;
	 float: right;
	 right: 20px;
}
.message-admin:before{
   content: ' ';
    position: absolute;
    width: 0;
    height: 0;
	float: right;
    top: 0;
    right: -14px;
    bottom: auto;
    border: 15px solid;
    border-color: #1f1f1f transparent transparent transparent;

}
.txt-msg{
	width: auto;
	float: left;
}
.convo-cont {
	height: 200px;
  overflow: auto;
}
.convo-cont::-webkit-scrollbar {
    width: 2px;
  background-color: #4b090b;

}
.btn-social{
	border: none;
	border-radius: 50% ;
	width: 30px;
	height: 30px;
	background-color: black;
}
.btn-social:hover{
	background-color: #761121;
	display: inline-block;
}
.icon-request span{
	display: none;
}
.btn-opt:hover{
	display: inline-block;
	width:  150px;
border-radius: 10px !important;

}
.btn-opt:focus {
background-color: #761121 !important;
display: inline-block !important;
width:  150px !important;
border-radius: 10px !important;
}
.btn-opt:focus span {
background-color: #761121 !important;
display: inline !important;
border-radius: 10px !important;
}
.btn-opt:hover span{
	display:  inline !important;
	width:  100px;
	border-radius: 10px !important;

}
.lbl-request{
	padding:0 5px 0 5px !important;
}




.searchpanel{
	 background-color:  #272727;
	 height: 100%;
	 width: 20%; 
	 position:absolute;
	 right: 0;
	 overflow: auto;
	 padding: 5px;
}

.searchpanel::-webkit-scrollbar {
    width: 2px;
  background-color: #4b090b;

}
.primary-holder{
list-style: none ;
align-self: center;
padding-left: 0;
}

.card{
	background-color: #171717;
	border-radius: 5px;
	color: white;
	margin: 10px;
	height: 50px;
}
.profile-thumnail{
	border-radius: 50% ;
	height: 35px;
	padding: 1px 0 1px 5px;
}
.info-holder{
	margin-bottom: 100px;
}
.info-header{
	padding-left: 10px;
	display: flex;
	padding: 5px;
}
.moreinfo{
	background-color: #761121;
	border-radius: 0 0 5px 5px;
	padding: 10px;
	display: none;
}
.Talent-name{
	display: block;
	padding-left: 10px;
}
.prof-title{

	width: 100%;
	color: #CB2626;
	font-weight:bold;
	 font-size: 1em;
}
.separator{
	border-top: 1px solid #171717;
}
.info-panel{
	display: block;
}
.info-panel span{
	padding-left: 25px !important;
}
.lst{
	list-style: none;
	    padding-left: 25px !important;
}
.lst1{
	list-style: none;
	    padding-left: 45px !important;
}
.iTitle{
	padding-right: 10px;
	color: #CB2626
}
.iTitle1{
	padding-right: 18px;
	color: #CB2626
}
.work{
	padding-left: 22px;
}
.p-info1{
	margin-top: -4px;
	font-size: 12px;

}
/*@media only screen and (max-width: 1000px){

.modal-request {
    width: 40% !important;
}
.modal-hire {
    width: 40% !important;
}
}

*/